<form action="/users/<%= @user.id %>" method="post">
    Update User: <input type="text" name="user[username]"> <br>
    Update Pass: <input type="text" name="user[password]"> <br>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Update"> <br>
</form>

<form action='/users/<%= @user.id %>' method='POST'>
  <input type='hidden' name='_method' value='DELETE'>
  <div class='form-sub'>
    <input type='submit' value='Delete Account' />
  </div>
</form>