<div class="container">
  <h1>Welcome to the Store!</h1>

  <% if session[:user_id] == nil %>
    <a href="/login"><h1>Login</h1></a>
    <h1><a href="/users/new">Sign Up</a></h1>
  <% end %>
  
  <% if session[:user_id] != nil %>
    <a href="/users/<%=session[:user_id]%>"><h1>My Page</h1></a>
    <a href="/logout"><h1>Logout</h1></a>
  <% end %>


  <table>
    <tr>
      <th> Product </th>
      <th> Category </th>
    </tr>
     <% @products.each do |product| %>
    <tr>
      <td> <%= product.name %> </td>
      <td> <%= product.category.name %> </td>
    </tr>
    <% end %>
  </table>

</div>
